

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

h1 {
  font-size: 48px;
}


body {
  background-color: darkblue;
  color: white;
  font-family: 'Korinna BT';
  font-size: 60px;
  margin-left: 40px;
  margin-right: 40px;
}


.increaseBtn {
  font-size: 1.5rem;
  background-color: green;
  color: white;
  margin: 10px;
}

.decreaseBtn {
  font-size: 1.5rem;
  background-color: red;
  color: white;
  margin: 10px;
}

.resetBtn {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  margin: 10px;
}

.questionBtn {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.answerBtn {
  font-size: 1.5rem;
  margin: 20px;
}

.questionText {
  font-size: 60px;
  margin-right: 50px;
  margin-left: 50px;
}

.stats {
  font-size: 1.4rem;
  text-align: left;
  margin: 10px;
}